* {
	font-family: Verdana;
	font-size: 24px;
}

.external {
	color: yellow;
}

h1 {
	font-size: 28px;
}

#bootcamp {
	text-transform: uppercase;
}

.languages {
	background-color: lightgreen;
}

li[value] {
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

#first {
	list-style-type: none;
}

.learn + li {
	list-style-type: none;
}

section img {
	border-radius: 240px
}

ul ~ p {
	text-align: center;

}

ul > li {
	letter-spacing: 5px;
}